<div class="user-form secret">
  <div class="container">
    <div class="user-form__inner">
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!submitted">
        <div class="form-group">
          <label for="email" >Your Email ✉️</label>
          <input type="text" id="email" formControlName="email">
          <small class="text-danger" *ngIf="email.invalid && email.touched">
              Your email is incorrect
          </small>
        </div>
        <div class="form-group">
          <label for="password">Your Password 🔐</label>
          <input type="password" id="password" formControlName="password">
          <small class="text-danger" *ngIf="password.invalid && password.touched">
            Your password is incorrect
          </small>
          <small>
            Don't tell anybody 🙅‍♀️
          </small>
        </div>
        <button type="submit" class="form__submit" [disabled]="!loginForm.valid">
          Log in
        </button>
        <p>{{errorMessage}}</p>
      </form>
      <div class="succes-message" *ngIf="submitted">
        <div class="container">
          Thanks for submitting
          <p>😜🚀</p>
          <p>{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

